<ul id="sidebar_menu" class="sidebar-nav">
  <li class="sidebar-brand">
    <a id="menu-toggle">
      Menu
      <span id="main_icon" class="sub_icon fa fa-align-justify"></span>
    </a>
  </li>
</ul>
<ul class="sidebar-nav" id="sidebar">
  <li>
    <a class="active">
      Cadastro
      <span class="sub_icon fa fa-link"></span>
    </a>
  </li>
  <ul class="sidebar-nav" id="sidebar">
    <li>
      <a>
        link1
      <span class="sub_icon fa fa-link"></span>
      </a>
    </li>
    <li>
      <a>
        link2
      <i class="sub_icon fa fa-link"></i>
      </a>
    </li>
  </ul>
  <li>
    <a>
      Consulta
      <i class="sub_icon fa fa-link"></i>
    </a>
  </li>
  <li>
    <a>
      Relatorio
      <i class="sub_icon fa fa-link"></i>
    </a>
  </li>
</ul>